/* CSS declarations go here */

html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,a{margin:0;padding:0}

@container-max: 960px;
@container-min: 320px;
@container-pad: 20px;

@body-bg: #eee;
@head-bg: #fff;
@pair-bg: #fff;

@view-z-index: 500;
@head-ani-z-index: 501;

.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}
.border-radius(@radius) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
}
.box-sizing(@sizing: border-box) {
    -ms-box-sizing: @sizing;
    -moz-box-sizing: @sizing;
    -webkit-box-sizing: @sizing;
    box-sizing: @sizing;
}


////////////

html, body { background: @body-bg; height: 100%; }
#wrapper { position: relative; min-height: 100%; }

body,h1 {
    /* font: 200 40px/60px "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}

.container {
    position: relative;
    margin: 0 auto;
    .box-sizing;
    max-width: @container-max;
    min-width: @container-min;
    width: auto !important; // beat out the boostrap responsive stuff
    // padding defined in responsive section lower down
    // with .pairs
}

#content {
    padding: 0 @container-pad 60px;
}

#footer {
    margin-top: -60px;
    min-height: 40px;
    padding: 10px @container-pad;

    .right {
        clear: left;
        padding-left: 20px;
    }
}

body.in-viewer {
    #content, #footer {
        display: none; // some cleanup while viewer is open
    }
}

#head {
    position: relative;
    background: @head-bg;
    top: 20px; // cant use margin-top cause it messes with #wrap height 100%
    margin-bottom: 40px;
    overflow: hidden;
    zoom: 1;

    h1, a {
        padding: 10px @container-pad;
        font-weight: 200;
        font-size: 40px;
        line-height: 60px;
    }

    h1 {
        float: left;
    }

    a {
        float: right;
        background: #333;
        color: #eee;
        text-decoration: none;
        border-left: 4px solid #fff;

        &:hover {
            background: #0f0;
            color: #262;
        }

        &:active {
            background: #000;
            color: #fff;
        }
    }

    &.trans {
        .transition(opacity 2s ease-in);

        z-index: @head-ani-z-index;

        >a {
            display: none;
        }
    }

    &.go {
        opacity: 0;
    }
}
@media (max-width: @container-max) {
    #head { top: 0; margin-bottom: 20px; }
}

.fader {
    .transition(opacity 1s .5s linear);

    &.out {
        .transition(opacity 0 0 linear);
        opacity: 0;
    }
}

#add em { font-style: normal; }
@media (max-width: 600px) {
    #add em { display: none; }
    #add span { padding: 0 @container-pad/2; }
}

.left { float: left; }
.right { float: right; }
.strong { font-weight: bold; }

.options {
    padding-bottom: @container-pad;
    li {
        float: left;
        margin-right: @container-pad;
    }
}

#pairs {
    position: relative;
    width: 100%;
    min-height: 540px;
    left: 0;
    overflow: hidden;
    zoom: 1;
}

@pair-dim: 160px;

a.pair {
    float: left;
    .box-sizing;
    border: 4px solid #999;
    padding: 6px;
    height: @pair-dim;
    overflow: hidden;
    margin: 0 0 20px 0;
    text-align: center;
    line-height: @pair-dim - 20;
    font-size: 0;
    background: @pair-bg;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        border-color: #333;
    }

    canvas,
    img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
    }

    img.thumb {
        height: 100%;
    }
}


// #pairs width algorithm:
// for n columns of .pair
// with width of w%
// and margin-right of m%
//
// width is: 100 * ((m / (n*w + (n-1)*m)) + 1)
//
// derived by solving the following system of equations and removing w:
// n * (a + m) = w + m // width of pairs + margins == parent width + margin
// w * pairsWidth = w + m // computed with of pairs == width + margin
//
.pairsWidth(@n, @w, @m) {
    width: 100*((@m / (@n*@w + (@n - 1)*@m)) + 1) + .001;
}
.pairWidth(@w, @m) {
    width: @w;
    margin-right: @m;
}


@pair-width: 23%;
@pair-margin: 2%;
@pair-cols: 4;
#pairs { .pairsWidth(@pair-cols, @pair-width, @pair-margin); }
a.pair {
    .pairWidth(@pair-width, @pair-margin);

}


@media (max-width: 768px) {
    @pair-width: 30%;
    @pair-margin: 3.33%;
    @pair-cols: 3;
    #pairs { .pairsWidth(@pair-cols, @pair-width, @pair-margin); }
    a.pair { .pairWidth(@pair-width, @pair-margin); }
}

@media (max-width: 480px) {
    @pair-width: 48%;
    @pair-margin: 2%;
    @pair-cols: 2;
    #pairs { .pairsWidth(@pair-cols, @pair-width, @pair-margin); }
    a.pair { .pairWidth(@pair-width, @pair-margin); }
}

@media (max-width: 320px) {
    @pair-width: 100%;
    @pair-margin: 0;
    @pair-cols: 1;
    #pairs { .pairsWidth(@pair-cols, @pair-width, @pair-margin); }
    a.pair { .pairWidth(@pair-width, @pair-margin); }
}


#view-pair {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: @view-z-index;
    background: #111;
    text-align: center;

    &.hide {
        display: none;
    }

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        box-shadow: 0 0 10px #000000;
    }

    img.full {
        bottom: 166px;
    }

    #pair-info {
        position: fixed;
        top: 10px;
        right: 0;
        z-index: 10;
        opacity: .5;

        &:hover {
            opacity: 1;
        }
    }

    a.close {
        position: fixed;
        top: 10px;
        left: 10px;
        line-height: 17px; // alignment ugh...
        height: 20px;
        width: 20px;
        background: #fff;
        .border-radius(10px);
        opacity: 1;
    }

}

.vote {
    float: right;
    clear: right;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px 10px;
    background: transparent url(/vote-sprite.png) scroll no-repeat 0 0;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;

    &.active {
        background-position: -20px 0;
    }

    &.down {
        background-position: 0 -20px;

        &.active {
            background-position: -20px -20px;
        }
    }
}

#widget {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: .25;
    z-index: 500;

    .transition(opacity .3s linear);

    &:hover {
        opacity: 1;
    }
}


/** prev and next arrows */

@arrow-height: 86px;

.arrow {
    position: fixed;
    left: 0;
    top: 100px;
    bottom: 166px; // stay above soundcloud player
    width: 35%;
    z-index: 501;

    opacity: 0;
    .transition(opacity 1s ease-in);

    &:hover {
        opacity: 1;
    }

    &:focus {
        outline: none;
    }

    em {
        position: absolute;
        display: block;
        left: 10%;
        top: 50%;
        margin-top: -43px;
        width: 60px;
        height: @arrow-height;
        background: rgba(255, 255, 255, .5);
        border-radius: 10px;
        text-indent: 120%;
        overflow: hidden;

        &:after {
            position: absolute;
            top: 13px;
            left: 15px;
            content: "";
            width: 0;
            height: 0;
            border-color: transparent #111 transparent transparent;
            border-width: 30px 30px 30px 0;
            border-style: solid;
        }
    }
}

.next-arrow {
    left: auto;
    right: 0;

    em {
        left: auto;
        right: 10%;

        &:after {
            border-color: transparent transparent transparent #111;
            border-width: 30px 0 30px 30px;
        }
    }
}

// show arrows smaller for touch
html.touch {
    @dim: 40px;
    @w: @dim*.35;
    @r: @dim/5;

    &.is-soundcloud .arrow {
        bottom: 166px;
    }

    &.show-arrows {
        .arrow, .arrow:hover {
            .transition(opacity 2s ease-in);
            opacity: .5
        }
    }

    .arrow {
        .transition(opacity 0s ease-in);
        top: auto;
        bottom: 0;
        height: @dim;
        width: @dim;

        &, &:hover {
            opacity: 0;
        }

        em {
            top: 0;
            left: 0;
            right: auto;
            margin: 0;
            width: @dim;
            height: @dim;
            border-radius: 0 @r 0 0;

            &:after {
                border-width: @w @w @w 0;
                top: 50%;
                left: 50%;
                margin: -@w 0 0 -@w/2;
            }
        }
    }

    .next-arrow em {
        border-radius: @r 0 0 0;
        &:after {
            border-width: @w 0 @w @w;
        }
    }
}

a#mobile-play {
    @height: 200px;

    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    width: @height;
    height: @height;
    margin-left: -@height/2;
    margin-top: -@height/1.6;
    .border-radius(@height/2);
    color: #111;
    background: #111;
    background: rgba(0, 0, 0, .8);
    line-height: @height;
    text-align: center;
    z-index: 502;

    &:after {
        @dim: @height/4;
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        margin-left: -@dim/3;
        margin-top: -@dim;
        height: 0;
        width: 0;
        border: 0 solid transparent;
        border-width: @dim 0 @dim @dim;
        border-left-color: #fff;
        vertical-align: middle;
    }

    &.clicked:after {
        border-left-color: #eee;
    }
}

body.paused-sc {
    #view-pair img.full {
        opacity: .25;
    }
    #widget {
        opacity: 1;
    }
}

/* **/

form {
    font-size: 18px;
    line-height: 24px;

    p {
        margin-bottom: 12px;
    }
}


.indicator {
    float: left;
    display: none;
    width: 30px;
    height: 30px;
    background: transparent url(ajax-loader.gif) no-repeat center center;
    text-indent: 110%;
    overflow: hidden;
    white-space: nowrap;
}

.loading .indicator {
    display: inline-block;
}

// add pair modal

#add-pair form {
    margin: 0;
    padding: 0;
}

.inline-input {
    @p-width: 52%;
    > p {
        float: left;
        margin-left: 0;
        margin-right: 0;
        width: @p-width;
        .box-sizing;
    }
    > input {
        float: left;
        margin-left: 0;
        margin-right: 0;
        width: 100 - @p-width;
    }
}

@media (max-width: 580px) {
    .inline-input {
        > p,
        > input {
            width: 100%;
        }
    }
}