// Peter Coles - mrcoles.com - 2013

.shares {
    span, iframe {
        vertical-align: top;
    }
    span.fb-like {
        display: inline-block;
        height: 20px;
        min-width: 80px;
        overflow: hidden;
    }
}
